@page
@model Coach.Areas.Admin.Pages.Advertisements.EditModel
@{
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Edit"]  @sharedResource["Adz"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">

                        <form id="form" method="post" enctype="multipart/form-data">
                            @Html.Hidden("CampId", "")
                            @Html.Hidden("CourseId", "")
                            @Html.Hidden("TournamentId", "")
                            @Html.Hidden("TrainerId", "")
                            @(Html.DevExtreme().Form<Coach.Models.Adz>()

    .ID("AdzForm")
     .OnInitialized("onFormInitialized")
     .FormData(Model.adz)
.Items(items => {

items.AddSimpleFor(m => m.CountryId).Label(k => k.Text(sharedResource["Country"]))
           .Editor(e => e
               .Lookup()
               .DataSource(ds => ds.WebApi().Controller("Adzs").LoadAction("CountryLookup").Key("Value"))
               .ValueExpr("Value")
               .DisplayExpr("Text")

                  .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                   .Placeholder(sharedResource["Select"])
                                                        .ShowClearButton(true)
                                                        .ClearButtonText(sharedResource["Clear"])
                                                        .CancelButtonText(sharedResource["Cancel"])
                                                        .SearchPlaceholder(sharedResource["searching"])

           );
items.AddSimpleFor(m => m.AdzId).Visible(false);
items.AddSimpleFor(m => m.EntityTypeId).IsRequired(true).Label(k => k.Text(sharedResource["Type"]))
       .Editor(e => e
           .Lookup()
           .DataSource(ds => ds.WebApi().Controller("Adzs").LoadAction("EntityTypeLookup").Key("Value"))
           .ValueExpr("Value")
           .DisplayExpr("Text")
            .OnValueChanged("onValueChanged")
                  .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                   .Placeholder(sharedResource["Select"])
                                                        .ShowClearButton(true)
                                                        .ClearButtonText(sharedResource["Clear"])
                                                        .CancelButtonText(sharedResource["Cancel"])
                                                        .SearchPlaceholder(sharedResource["searching"])

            );




items.AddSimple().IsRequired(true)
        .Editor(e => e
            .Lookup()
             .DataSource(ds => ds.WebApi().Controller("Adzs").LoadAction("TrainerLookup").Key("Value"))
      .DisplayExpr("Text")
        .ValueExpr("Value")
  .OnSelectionChanged("TrainerValueChanged")
                 .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
          .Value(Model.TranierId)
           .Placeholder(sharedResource["Select"])
                                                        .ShowClearButton(true)
                                                        .ClearButtonText(sharedResource["Clear"])
                                                        .CancelButtonText(sharedResource["Cancel"])
                                                        .SearchPlaceholder(sharedResource["searching"])
             ).Label(k => k.Text(sharedResource["Trainer"])).Name("Trainer");

items.AddSimple().IsRequired(true)
        .Editor(e => e
            .Lookup()
             .DataSource(ds => ds.WebApi().Controller("Adzs").LoadAction("CampLookup").Key("Value"))
      .DisplayExpr("Text")
        .ValueExpr("Value")
  .OnSelectionChanged("CampValueChanged")
                 .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
          .Value(Model.CampId)
           .Placeholder(sharedResource["Select"])
                                                        .ShowClearButton(true)
                                                        .ClearButtonText(sharedResource["Clear"])
                                                        .CancelButtonText(sharedResource["Cancel"])
                                                        .SearchPlaceholder(sharedResource["searching"])

             ).Label(k => k.Text(sharedResource["Camp"])).Name("Camp");

items.AddSimple().IsRequired(true)
        .Editor(e => e
            .Lookup()
             .DataSource(ds => ds.WebApi().Controller("Adzs").LoadAction("TournamentLookup").Key("Value"))
      .DisplayExpr("Text")
        .ValueExpr("Value")
  .OnSelectionChanged("TournamentValueChanged")
                 .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
          .Value(Model.TournamentId)
           .Placeholder(sharedResource["Select"])
                                                        .ShowClearButton(true)
                                                        .ClearButtonText(sharedResource["Clear"])
                                                        .CancelButtonText(sharedResource["Cancel"])
                                                        .SearchPlaceholder(sharedResource["searching"])

             ).Label(k => k.Text(sharedResource["Tournament"])).Name("Tournament");
items.AddSimple().IsRequired(true)
        .Editor(e => e
            .Lookup()
             .DataSource(ds => ds.WebApi().Controller("Adzs").LoadAction("CourseLookup").Key("Value"))
      .DisplayExpr("Text")
        .ValueExpr("Value")
  .OnSelectionChanged("CourseValueChanged")
                 .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
          .Value(Model.CourseId)
           .Placeholder(sharedResource["Select"])
                                                        .ShowClearButton(true)
                                                        .ClearButtonText(sharedResource["Clear"])
                                                        .CancelButtonText(sharedResource["Cancel"])
                                                        .SearchPlaceholder(sharedResource["searching"])

             ).Label(k => k.Text(sharedResource["Course"])).Name("Course");




items.AddSimpleFor(m => m.EntityId).Name("URL").Label(k => k.Text(sharedResource["ExternalURL"]));
items.AddSimpleFor(m => m.AdzOrderIndex).Label(k => k.Text(sharedResource["Sort"])).IsRequired(true);
items.AddSimpleFor(m => m.AdzIsActive).Label(k => k.Text(sharedResource["IsActive"]));
items.AddSimple().Label(k => k.Text(sharedResource["Picture"])).Template(@<text>
                        <div>
                    <img width="250" height="250" src="/@Model.adz.AdzPic" alt="adz Picture"/>
                </div>
                            </text> );

            items.AddSimpleFor(m => m.AdzPic).Label(k => k.Text(sharedResource["Change_Picture"])).Template(@<text>


                            @(Html.DevExtreme().FileUploader()
                                        .Name("Photo")
                                        .SelectButtonText(sharedResource["Change_Picture"])
                                        .LabelText("")
                                        .Accept("image/*")
                                        .UploadMode(FileUploadMode.UseForm)
                                                        .RtlEnabled(bool.Parse(sharedResource["ArLang"]))

                            .Height(70)
                                                        )

                            </text> );
    items.AddButton()
  .ColSpan(3)
  .HorizontalAlignment(HorizontalAlignment.Right)
  .ButtonOptions(b => b.Text(sharedResource["Save"])
  .Type(ButtonType.Success)
  .UseSubmitBehavior(true)).CssClass("invers");



})
                            )

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var form
    function onFormInitialized(e) {

        form = e.component;

        var adzTypeId =@Model.adz.EntityTypeId;


        if (adzTypeId === 1) {
            form.itemOption("Trainer", "visible", true);
            form.itemOption("Camp", "visible", false);
            form.itemOption("Tournament", "visible", false);
            form.itemOption("Course", "visible", false);
            form.itemOption("URL", "visible", false);
        }
        if (adzTypeId === 2) {
            form.itemOption("Trainer", "visible", false);
            form.itemOption("Camp", "visible", true);
            form.itemOption("Tournament", "visible", false);
            form.itemOption("Course", "visible", false);
            form.itemOption("URL", "visible", false);
        }

        if (adzTypeId === 3) {
            form.itemOption("Trainer", "visible", false);
            form.itemOption("Camp", "visible", false);
            form.itemOption("Tournament", "visible", true);
            form.itemOption("Course", "visible", false);
            form.itemOption("URL", "visible", false);
        } if (adzTypeId === 4) {
            form.itemOption("Trainer", "visible", false);
            form.itemOption("Camp", "visible", false);
            form.itemOption("Tournament", "visible", false);
            form.itemOption("Course", "visible", true);
            form.itemOption("URL", "visible", false);
        }
        if (adzTypeId === 5) {
            form.itemOption("Trainer", "visible", false);
            form.itemOption("Camp", "visible", false);
            form.itemOption("Tournament", "visible", false);
            form.itemOption("Course", "visible", false);
            form.itemOption("URL", "visible", true);
        }

    }

    
    function CampValueChanged(data) {
        if(data.selectedItem!=null){
            $("#CampId").val(data.selectedItem.Value);
        }
        
    }

    function TournamentValueChanged(data) {
         if(data.selectedItem!=null){
          $("#TournamentId").val(data.selectedItem.Value);
        }
        
    }

    function CourseValueChanged(data) {
           if(data.selectedItem!=null){
          $("#CourseId").val(data.selectedItem.Value);
        }
       
    }

    function TrainerValueChanged(data) {
             if(data.selectedItem!=null){
         $("#TrainerId").val(data.selectedItem.Value);
        }
        
    }


    function onValueChanged(e) {

        if (e.value === 1) {
            form.itemOption("Trainer", "visible", true);
            form.itemOption("Camp", "visible", false);
            form.itemOption("Tournament", "visible", false);
            form.itemOption("Course", "visible", false);
            form.itemOption("URL", "visible", false);
        }
        if (e.value === 2) {
            form.itemOption("Trainer", "visible", false);
            form.itemOption("Camp", "visible", true);
            form.itemOption("Tournament", "visible", false);
            form.itemOption("Course", "visible", false);
            form.itemOption("URL", "visible", false);
        }

        if (e.value === 3) {
            form.itemOption("Trainer", "visible", false);
            form.itemOption("Camp", "visible", false);
            form.itemOption("Tournament", "visible", true);
            form.itemOption("Course", "visible", false);
            form.itemOption("URL", "visible", false);
        } if (e.value === 4) {
            form.itemOption("Trainer", "visible", false);
            form.itemOption("Camp", "visible", false);
            form.itemOption("Tournament", "visible", false);
            form.itemOption("Course", "visible", true);
            form.itemOption("URL", "visible", false);
        }
        if (e.value === 5) {
            form.itemOption("Trainer", "visible", false);
            form.itemOption("Camp", "visible", false);
            form.itemOption("Tournament", "visible", false);
            form.itemOption("Course", "visible", false);
            form.itemOption("URL", "visible", true);
        }



    }


</script>